# Node.js
node_modules/
npm-debug.log

# TypeScript
*.tsbuildinfo
*.log

# Git
.git/
.gitignore

# Docker
.dockerignore
.docker/

# Editor and IDE files
.vscode/
.idea/
*.iml

# Miscellaneous
*.env
*.env.*
.DS_Store